<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ongoing Outbreak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of ongoingOutbreaks">
    <ion-card-header>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let sect of item.value">
        <ion-text>{{sect.name}}</ion-text>
        <ion-text color="danger"><strong>{{sect.value}}</strong></ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
